*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}
.top {
  padding: 80px 0;
  background: url(top\ bg.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}
.top .subHeading {
  font-size: larger;
}
.heading {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-size: 3.5em;
  letter-spacing: 0.6px;
  position: relative;
  padding: 0 50px;
  display: inline-block;
}
.top .heading::after,
.top .heading::before {
  content: "";
  position: absolute;
  background: white;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: scaleX(0.9) translateY(-50%) rotateZ(45deg);
}
.top .heading::before {
  left: 0;
}
.top .heading::after {
  right: 0;
}
.top .path {
  font-size: larger;
}
.top .path .arrow {
  font-size: inherit;
}
.top .path > a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
.imageimg{
    width:400px !important;
    height:400px !important;
}
.gallery{
    width:100%;
    display: block;
   /* height: 250px;*/
}
.gallery-filter{
    padding:  0 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.gallery-item.show{
    animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.gallery-item.hide{
    display: none;
}
.filter-item{
    color: black;
    font-family: sans-serif;
    font-size: 18px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid  black;
    line-height:1.2;
    transition: all 0.3s ease;
}
.filter-item.active{
    color: chocolate;
    border-color: chocolate;
}
.item{
    transition: .5s ease-in-out;
    position: relative;
}

.imageimg{
    display: block;

}
.imageoverlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 400px;
    background: rgba(0,0,0,0.6);
    color: white;
    font-family: 'Quicksand',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    opacity: 0;
    transition: opacity 0.25s;
}
.imageoverlay--blur{
    backdrop-filter: blur(5px);
}
.imageoverlay > *{
    transform:translateY(20px);
    transition: transform 0.25s;
}
.imageoverlay:hover{
    opacity: 1;
}
.imageoverlay:hover>*{
    transform:translateY(0);
}

.imagetitle{
    font-size: 1.7em;
    font-weight: bold;
}
.imagetitle:hover{
    color: yellow;
}
.imagedes{
    font-size: 1.0em;
    margin-top: 0.25em;
}
.h1tag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text{
    font-size: 24px;
    font-weight:600;
    margin-top: 5px;
    margin-bottom: 30px;
}
  
 
@media (max-width: 800px) {
    .imageimg{
        width: 100% !important;
        margin: 0 !important;
        height: 50%;
    }
    .imageoverlay{
        width:95%;
    }
    .item.col-sm-6.col-md-4.mb-2.or{
        margin-bottom: 4px !important;
    }
}
